<!DOCTYPE html>
<html>
<head>
	<link href="style2.css" rel="stylesheet">
	<link href="swiper.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<title>Карта Beeline</title>
</head>
<body>
	<div class="main-container" id="card">
		<h3>Карта Beeline</h3>
		<div class="block">
			<header class="block-header">
				<div class="header1" @click="tab=1" :class="{'active': tab==1, 'inactive': tab==2 }">
					<p class="p-header1">О карте</p>
				</div>
				<div class="header2" @click="tab=2" :class="{'active': tab==2, 'inactive': tab==1 }">
					<p class="p-header2">Офферы и кэшбэк</p>
				</div>
			</header>
			<div class="bottom" v-if="tab==1">
				<div class="image">
					<img src="img/cards.svg">
					<ul class="ul-img">
						<li><a href="">ТАРИФЫ</a></li>
						<li><a href="">АКТИВИРОВАТЬ</a></li>
						<li><a href="">ВОПРОСЫ</a></li>
					</ul>
				</div>
				<div class="text-button">
					<div class="texts">
					<div class="text1">
						<ul class="ul-text">
							<li><b>Единый баланс</b> мобильного и карты</li>
							<li>Повышенный кэшбэк до <b>10%</b></li>
							<li><b>Бесплатное</b> снятие денег в банкоматах РК</li>
							<li><b>Бесплатные</b> выпуск и обслуживание</li>
						</ul>
					</div>
					<div class="text2">
						<ul class="ul-text">
							<li>Вознаграждение на остаток <b>6%</b> годовых</li>
							<li><b>Круглосуточное</b> обслуживание</li>
							<li>Оплата за рубежом</li>
							<li>Безопаснык онлайн-покупки</li>
						</ul>
					</div>
				</div>
					<div class="buttons">
						<button class="button1">ПОДРОБНЕЕ О КАРТЕ</button>
						<button class="button2">ЗАКАЗАТЬ КАРТУ</button>
					</div>
				</div>
			</div>
			<div class="bottom2" v-if="tab==2">
				<p class="p-bottom2">Специальные офферы для Карт Beeline</p>
				<div class="headline">
					<p @click="clik=1" :class="{'active': clik==1, 'inactive': clik==2 }">MASTERCARD</p>
					<p @click="clik = 2" :class="{'active': clik == 2, 'inactive': clik == 1}">VISA</p>
				</div>
				<div class="cards" id="cards" v-if="clik">
					<div class="master-visa">
						<p @click="clik=1" :class="{'active': clik==1, 'inactive': clik==2 }">MASTERCARD</p>
						<p @click="clik = 2" :class="{'active': clik == 2, 'inactive': clik == 1}">VISA</p>
					</div>
					<div class="mastercard">
						<div class="master1" v-if="clik==1">
							<img src="img/acoola.svg">
							<img src="img/acoola.svg">
							<img src="img/blackdesert.svg">
						</div>
						<div class="master2" v-if="clik==1">
							<img src="img/blackdesert.svg">
							<img src="img/blackdesert.svg">
							<img src="img/blackdesert.svg">
						</div>
					</div>
					<div class="visa">
						<div class="visa1" v-if="clik==2">
							<img src="img/blackdesert.svg">
							<img src="img/blackdesert.svg">
							<img src="img/blackdesert.svg">
						</div>
						<div class="visa2" v-if="clik==2">
							<img src="img/acoola.svg">
							<img src="img/acoola.svg">
							<img src="img/blackdesert.svg">
						</div>
					</div>
				</div>
				<p class="p-bottom3"><a href="">ПОСМОТРЕТЬ ЕЩЕ</a></p>
			</div>
		</div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide1"></div>
					<div class="swiper-slide slide2"></div>					
					<div class="swiper-slide slide3">
						<h3>Путешествия</h3>
						<div class="text-img">
							<p class="text">Поиск выгодных авиабилетов и отелей. Кэшбэк для держателей карты до 6%</p>
							<img src="img/plane.svg">
						</div>
						<div class="text-img2">
							<p class="btn1"><a href="">КУПИТЬ БИЛЕТ</a></p>
							<p class="btn2"><a href="">ЗАБРОНИРОВАТЬ ОТЕЛЬ</a></p>
						</div>
					</div>
				
				</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
			</div>
	</div>
	<script src="../project5/app.js"></script>
	<script src="app2.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
	<script src="swiper.js"></script>
</body>
</html>