.swiper-container {
    width: 100%;
    min-width: 500px;
    height: 225px;
}
.swiper-slide{
	width: 530px;
	height: 223px;
	box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	overflow: hidden;
}
.slide1{
	background-image: url(img/AliExpress.svg);
	width: 530px;
	height: 223px;
}
.slide2{
	background-image: url(img/YandexTaxi.svg);
	width: 530px;
	height: 223px;
}
.slide3{
	width: 541.64px;
	height: 240.05px;
	background: #FEDA24;
}
.slide3 h3{
	font-weight: bold;
	font-size: 26px;
	color: #333333;
	margin-top: 29.25px;
	margin-left: 28.06px;
	margin-bottom: 0;
}
.text{
	text-align: left;
	width: 277px;
	height: 89px;
}
.text-img{
	display: flex;
	flex-direction: row;
	margin-left: 28.06px;
	height: 95px;
}
.text-img2{
	display: flex;
	flex-direction: row;
	margin-left: 28.06px;
}
.btn1{
	margin-right: 25px;
	text-decoration: none;
	margin-bottom: 37.81px;
}
.btn1 a {
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.btn2 a {
	font-size: 14px;
	color: #333333;
	text-decoration: none;
}
.swiper-button-prev{
	
}
.swiper-button-next{

}